<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% if title %}
            Personal Portfolio - {{ title }}
            {% else %}
            Personal Portfolio
            {% endif %}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('profile.create_profile') }}">New Profile</a>
    </head>
    <body>
        {% block content %}
        {% endblock %}       
        <script src="" async defer></script>
    </body>
</html>